.addbook-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 600px;
    margin-bottom: 300px;
    padding-left: 72px;
}


.addbook-btn{
	position: fixed;
    width: 60px;
    height: 60px;
    bottom: 200px;
    left: 200px;
    right: 100px;
    background-color: #13dfb3;
    color: #FFF;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 3px #999;
    border: 1px solid#13dfb3;
    outline: none;
}

.popup-content {
    width: 600px !important;
}



