.addbook-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 600px;
    margin-bottom: 300px;
    padding-left: 72px;
    width: 50%
}


.addbook-btn{
	position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #717779;
    color: #FFF;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 3px #999;
    border: 1px solid #717779;
    outline: none;
}

.add-book-header {
    margin-bottom: -16px;
    text-align: center;
    color: #717779;
}

.add-book-input-details{
    border-radius: 2px;
    outline: none;
    border: 1px solid #bfb3b3;
    margin-top: 24px;
    margin-left: 10px;
    height: 24px;
}


button.btn-close {
    border-radius: 1px;
    outline: none;
    border: 1px solid gray;
}

button.button-save {
    border-radius: 1px;
    outline: none;
    border: 1px solid gray;
    cursor: pointer;
    background: #0095ff;
    color: white;
}

.popup-content {
    margin-left: -25% !important;
    width: -50% !important;
    width: 400px !important;
    background-color: #f0f1f1 !important;
}

.add-book-input-container {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
}

.input-file-wrapper {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 24px;
}

.button-group {
    margin-top: 12px;
    display: flex;
    padding: 10px;
}

.popup-container {
    border: 1px solid lightgray;
    margin-left: 165px;
    margin-right: -50px;
}