ul.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}
li.nav-item {
    width: 80px;
}
li.nav-item {
    width: 80px;
    background: #FF9800;
    padding: 20px;
    cursor: pointer;
}