
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-user-details{
  padding: 20px 20px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px
}

h1.header-tag {
  font-weight: 300;
  color: #7f7676;
  font-size: 21px;
  margin-bottom: 4px;
}

input.form-input {
  width: 200px;
  border: 1px solid #d0d6d0;
  font-size: 14px;
  text-align: start;
  padding-left: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  margin: 16px 0;
}

button.submit-btn {
  height: 38px;
  margin-top: 16px;
  width: 210px;
  border-radius: 5px;
  border: 1px solid;
  background: hsl(221, 4%, 67%);
  color:#ffffff;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 45px;
  transition: transform 80ms ease-in;
}

button.submit-btn:active {
  transform: scale(0.95);
}

button.submit-btn:focus{
  outline: none;
}

.social-container {
  margin: 16px 0;
}

.google-icon{
  color: #D44940;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  font-size: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

.github-icon{
  color: #000000;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  font-size: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

.facebook-icon{
  color: #385697;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  font-size: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

.twitter-icon{
  color: #1C98EB;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  font-size: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

.email-span{
  font-weight: 300;
  color: #7f7676;
  font-size: 14px;
}