Button.button-save {
    margin-left: auto;
}
.Button-group {
        display: flex;
        justify-content: space-around;
        padding: 10px;
}

Button.btn-edit {
    float: right;
    border: none;
    background: white;
    outline: none;
    cursor: pointer;
}

i.far.fa-edit {
    color: #424242;
}

